{erl_opts, [debug_info]}.

{deps, [grpcbox]}.

{project_plugins, [grpcbox_plugin]}.

{grpc, [{protos, ["proto/opencensus-proto/src/opencensus/proto/agent/trace/v1",
                  "proto/opencensus-proto/src/opencensus/proto/agent/metrics/v1"]},
        {service_modules, [{'opencensus.proto.agent.trace.v1.TraceService', "oc_trace"},
                           {'opencensus.proto.agent.metrics.v1.MetricsService', "oc_metrics"}]},
        {gpb_opts, [{module_name_suffix, "_pb"},
                    {i, "proto/opencensus-proto/src/"},
                    %% disable type specs since it tries to redefine module()
                    {type_specs, false}]}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]}]}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{shell, [{apps, [opencensus_service, opencensus]},
         {config, "config/example.config"}]}.
