[
  {opencensus, [{sampler, {oc_sampler_always, []}},
                {reporter, {oc_reporter_service, []}},

                {stat, [{exporters, [{oc_stat_exporter_stdout, []}]}]}]},

 {opencensus_service,
  [{channel_name, opencensus_service},
   {endpoints, [{http, "localhost", 55678, []}]},
   {channel_options, #{}}]}
].
