log-level: DEBUG

receivers:
  opencensus: {}

queued-exporters:
  jaeger:
    num-workers: 4
    queue-size: 100
    retry-on-failure: true
    sender-type: jaeger-thrift-http
    jaeger-thrift-http:
      collector-endpoint: http://jaeger:14268/api/traces
      timeout: 5s
